boost
cute
Debug
.cproject
.project
.settings/
lista_fich
resultado
salida_esperada
reporte_indexacion
.lista_fich
salida_ejecucion/
diferencias/
salida_real/
reportes_valgrind/
reportes_tiempos
debug.txt
indicePrueba/
lista_docs
reportes_callgrind/
/Compile
reporte_busqueda
indicePrueba/
indicePrueba/indexacion.index
